language: python
services: mongodb
python:
  - "3.4"
  - "3.3"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: "pip install -r requirements.txt"
# command to run tests, e.g. python setup.py test
before_script: "sudo python -m nltk.downloader -d /usr/share/nltk_data all"
script:  nosetests
